<article class="card text-center mx-4 my-3">
  <div class="card-header">
    <div class="card-subtitle text-dark">
      {{user.username}}
      on
      {{format_date createdAt}}
    </div>
  </div>
  <div class="card-body text-dark">
    {{comment_text}}
  </div>
</article>