<div class="container">
<div class="row align-items-center justify-content-center">
  {{> post-info post}}
</div>
</div>
<!-- comments -->
<div class="container text-center ">
  <h3 class="p-2">Comments</h3>
  {{#if loggedIn}}
    <div class="row align-items-center justify-content-center">
  {{> comment-add}}
  {{/if}}
  {{#each post.comments as |comment|}}
    <div class="row align-items-center justify-content-center">
  {{> comment-info comment}}
</div>
  {{/each}}
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}